.corserror{
    width: 40%;
    color: #c30000d6;
    position: absolute;
    bottom: 13rem;
    text-align: center;
    @media(max-height:680px){
        bottom: 5rem;
    }
    @media(max-width:250px){
        bottom:3rem;
    }
    @media(max-width:200px){
        bottom:1.5rem;
    }
}
.error{
    color: #c30000d6;
}