@import "../SassVarbs/SassVarbs.scss";

.containerOne{
    @include container(13rem,10rem);
}
.containerTwo{
    @include container(13rem,none);

    figure {

        button {
            background-color: $cardColor;
            margin: 1rem;
            width: fit-content;
            padding: 1rem;
            border-radius: 0.3rem;
            color: $black;
            border: none;
            cursor: pointer;
            font-size: initial;
            font-family: system-ui;
            @media(max-width:315px){
              margin: 0.3rem;
            }
            @media(max-width:155px){
                margin: 0.1rem;
              }
        }
        :hover{
            background-color: $cardHover;
        }
        @media(max-width:315px){
            position: static;
            display: flex;
            margin-top: -1rem;
        }
    }
}
.containerTwoDark{
    @include container(13rem,none);

    figure {

        button {
            @include darkTheme;
            margin: 1rem;
            width: fit-content;
            padding: 1rem;
            border-radius: 0.3rem;
            border: none;
            cursor: pointer;
            font-size: initial;
            font-family: system-ui;
            @media(max-width:315px){
              margin: 0.3rem;
            }
            @media(max-width:155px){
                margin: 0.1rem;
              }
        }
        :hover{
            background-color: $cardHover;
        }
        @media(max-width:315px){
            position: static;
            display: flex;
            margin-top: -1rem;
        }
    }
}
.containerThree{
    @include container(12rem,none);
}
.containerNotFound{
    width: 75%;
    height: 37rem;
    border:solid 0.04rem $black;
    margin: 9rem auto;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    flex-direction: column;
    @media(max-width:400px){
        height: 22rem;
    }
    @media(max-width:265px){
        height: 15rem;
    }
    img{
        width:63%;
        height: 80%;
        @media(max-width:1104px){
            width: 80%;
            height: 80%;
        }
        @media(max-width:720px){
            width: 100%;
            height: 90%;
        }
        @media(max-width:550px){
            width: 100%;
            height: 60%;
        }
        @media(max-width:400px){
            width: 100%;
            height: 45%;
        }
    }
}
