@import '../SassVarbs/SassVarbs.scss';

.daycard{
    display:flex;
    align-items:center;
    text-align: center;
    justify-content:center;
    flex-direction : column;
    background-color:$cardColor;
    font-family: 'Source Sans Pro';
    padding:2rem;
    width:37%;
    height:20rem;
    border-radius:0.3rem;
    margin:1.3rem;
    &:hover{
        background: $cardHover;
    }
    @media(min-width:1000px){
        width:25%;
    }
    @media(max-width:700px){
        width:60%;
    }
    @media(max-width:400px){
        min-width:61%;
        height: fit-content;
        padding: 1.7rem;
    }
}